<nav class="navbar navbar-expand">
    <a class="navbar-brand" >Project Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
            <a class="nav-link" (click)="gotoemployee()" >Employee Table <span class="sr-only">(current)</span></a>
         </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <input
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
       </form>
    </div>
  </nav>
  <div class="container" id="main-container" *ngIf="project">
  <div class="row"  >
    <div *ngFor="let projects of project" class="cards">
        <div class="card m-b-30">
           <div class="card-body row">
              <div class="col-1">
                  img
              </div>
              <div class=" card-title align-self-center mb-0">
                 <h5>Name of Project: {{projects?.name}}</h5>
                    <p class="m-0" *ngFor="let team of projects.teams">Name of team: {{ team.name }}</p>
              </div>
             </div>
          <ul class="list-group list-group-flush">
             <li  class="list-group-item"><i class="fa fa-envelope float-right"></i>Priorytet: {{projects?.priority}} </li>
          </ul>
          
         
          </div>
       </div>
    </div>
  </div>
  
  